<div class="center jumbotron">
  <h1><%= full_title(yield(:title)) %></h1>
  <h2>
    This is the home page for the Ruby on Rails (RoR) Web Application Skelton.
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<%= link_to image_tag("bootstrap-solid.svg", alt: "Bootstrap logo", height: "111px"), 'http://getbootstrap.com/' %>
